/* CSS File */

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    color: #333333;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;   /* Center the container */
}

/* Break up the page with blocks of color */

.block1 {   /* Blue block */
    background-color: #0099cc;    /* Light blue */
    padding: 20px 0px 20px 0px;    /* Top, right, bottom, left */

}

.block2 {    /* Green block */
    background-color: #66cc00;     /* Light green */
    padding: 20px 0px 20px 0px;     /* Top, right, bottom, left */

}

.block3 {     /* Red block */
    background-color: #cc0000;      /* Light red */
    padding: 20px 0px 20px 0px;      /* Top, right, bottom, left */

}
